/* --nickel: #706c61ff;
--dark-purple: #2f0a28ff;
--blue-violet-crayola: #6969b3ff;
--columbia-blue: #b9cfd4ff;
--midnight-blue: #0a014fff; */

body {
  margin-top: 42px
}

* {
  background-color: rgb(26, 6, 23);
  color: rgb(218, 213, 196);
}

form {
  border: 5px solid #6969b3ff;
}

input, button {
  padding: 20px 10px;
  line-height: 28px;
  font-size: 18px;
  border: 2px solid rgb(146, 172, 178);
}

button {
  align-self: flex-start;
  background-color: #0a014fff;
}

.tiny-edit-button-container {
  display: flex;
  justify-content: flex-end;
}

.tiny-edit-button {
  padding: 10px;
  line-height: 5px;
  height: 30px;
}

.title-edit {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.title-display {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}